/*-----------------------------Perus-----------------------------*/
#tl			{bottom:107px}
#reuna		{position:relative; top:0px; margin-left:auto; margin-right:auto; text-align:left; background-color:#9C6963; height:50px; width:800px;}

/*Lista*/
.galleria	{width: 600px; list-style: none none; }
.galleria li {list-style: none none; display: inline; margin-bottom:10px;}
.galleria li a {margin: 10px; border: 1px solid #CCC; padding: 4px; position: relative;}

.hoverbox1
{
	cursor: default;
	position: relative;
	top: 50px;
	left: 100px
}

.hoverbox1 a
{
	cursor: default;
}



.hoverbox1 img  {
	background: #fff;
	border-color: #aaa #ccc #ddd #bbb;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	width: 100px;
	height: 100px;
}

.hoverbox1 td
{
	background: #eee;
	border-color: #ddd #bbb #aaa #ccc;
	border-style: solid;
	border-width: 1px;
	color: inherit;
	display: inline;
	float: left;
	margin: 5px 20px;

	position: relative;
}
/*------------------------------Vaaka------------------------------*/

.hoverbox1 a .preview1
{
	display: none;
}

.hoverbox1 a:hover .preview1
{
	display: block;
	position: absolute;
	top: -150px;
	left: 120px;
	z-index: 1;
}

.hoverbox1 .preview1 
{
border-color:#000;
width: 550px; 
height:412px;
}
/*---------------------------VaakaOikea---------------------------*/

.hoverbox1 a .preview5
{
	display: none;
}

.hoverbox1 a:hover .preview5
{
	display: block;
	position: absolute;
	top: -150px;
	right: 120px;
	z-index: 1;
}

.hoverbox1 .preview5
{
border-color:#000;
width: 550px; 
height:412px;
}
/*-----------------------------Neliö-----------------------------*/

.hoverbox1 a .preview4
{
	display: none;
}

.hoverbox1 a:hover .preview4
{
	display: block;
	position: absolute;
	top: -200px;
	left: 120px;
	z-index: 1;
}

.hoverbox1 .preview4 
{
border-color: 
#000;width: 
500px; 
height:
500px;}

/*-----------------------------NeliöOikea-----------------------------*/

.hoverbox1 a .preview6
{
	display: none;
}

.hoverbox1 a:hover .preview6
{
	display: block;
	position: absolute;
	top: -200px;
	right: 120px;
	z-index: 1;
}

.hoverbox1 .preview6
{
border-color: 
#000;width: 
500px; 
height:
500px;}

/*-----------------------------Pysty-----------------------------*/

.hoverbox1 a .preview2
{
	display: none;
}

.hoverbox1 a:hover .preview2
{
	display: block;
	position: absolute;
	top: -225px;
	left: 120px;
	z-index: 1;
}

.hoverbox1 .preview2 
{
border-color: 
#000;width: 
412px; 
height:
550px;}

/*-----------------------------PystyOikea-----------------------------*/

.hoverbox1 a .preview3
{
	display: none;
}

.hoverbox1 a:hover .preview3
{
	display: block;
	position: absolute;
	top: -225px;
	right: 120px;
	z-index: 1;
}

.hoverbox1 .preview3 
{
border-color: 
#000;width: 
412px; 
height:
550px;}

/*
Sivustolla käytetty galleria perustuu ilmaiseen Hoverbox-galleria koodiin jonka löydät seuraavalta sivulta
http://sonspring.com/journal/hoverbox-image-gallery

Site uses image-gallery that is based on Hoverbox-image gallery code that you will wind from the following website
http://sonspring.com/journal/hoverbox-image-gallery
*/